# Compilación
build/
*.o
*.out
*.exe
rtree

# Datos grandes
data/*.bin
data/*.zip
data/*.tar.gz

# Outputs generados
outputs/trees/*.bin
outputs/results/*.csv
outputs/plots/*.png
outputs/plots/*.pdf

# Sistema / editor
.vscode/
.DS_Store